.class1{
    height:40px;
  }
  .class2{
    background:black;
    color:white;
    width:200px;
    margin-left:40px;
  }
  .button{
    background:black;
    color:white;
    width:200px;
    height:40px;
  }